@{
    ViewData["Title"] = "Home Page";
}


   <div class="card text-center">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            <h2 class="card-title">You type we post it</h2>
            <p class="card-text">Fantastic! Amazing!</p>
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Form">Get Start</a>
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="About">About</a>
        </div>
        <div class="card-footer text-body-secondary">
            
        </div>
    </div>
